.MainArmourSection {
    h3 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .Armour {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .ImageBlock {
            :global(.swiper-wrapper){
                height: 120%;
            }
            :global(.swiper-pagination) {
                margin: 0 0 -12px 0  !important;  
          
            }
    
            :global(.swiper-pagination-bullet) {
                background: #82889A;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                opacity: 1;
            }
    
            :global(.swiper-pagination-bullet-active) {
                background: linear-gradient(138deg, #68B551 10.19%, #3AB177 92.37%);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                transition: 1s;
            }
            max-width: 450px;
        }

        .TxtBlock {
            margin-top: 80px;

            div {
                display: inline;

                h3 {
                    margin-right: 10px;
                    display: inline;
                }

                p {
                    margin-top: 16px;
                    max-width: 515px;
                    font-size: 25px;
                    line-height: 29px;
                    margin-bottom: 40px;
                }
            }
        }

        .GreenCircle {
            background: linear-gradient(318.07deg, #68B551 10.19%, #3AB177 92.37%);
            width: 484px;
            height: 484px;
            border-radius: 50%;
            position: absolute;
            margin: -8px -16px 0px 0px;
        }
    }
}


.SwiperSlide {
    .StockImage {
        display: block !important;
    }

    .NoneImage {
        display: none !important;
    }
}

@media screen and (max-width: 920px) {
    .MainArmourSection {

        .Armour {
            display: flex;
            flex-direction: column;
            .ImageBlock {
                max-width: 312px;
                margin-top: 30px;
            }
            display: flex;
            justify-content: center;
            align-items: center;

            .GreenCircle {
                width: 251px;
                height: 251px;
                margin-top: -405px;
                position: absolute !important;
                margin-right: 0 !important;
            }

            .TxtBlock {
                margin-top: 40px !important;
                div {
                    display: block;
                }
            }
        }
    }
}