@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.BuStyle{
    width: 284px;
    height: 53px;
    background: linear-gradient(318.07deg, #68B551 10.19%, #3AB177 92.37%);
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;

    color: #23262B;


}