@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.Cunt{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 42.8909px;
    line-height: 52px;
    color: #FFFFFF;
    opacity: 0.3;
    
}