.Motopark {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 33px;

    .NasWayCircle {
        margin-top: 110px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(138deg, #68B551 10.19%, #3AB177 92.37%);
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;

        :global(.swiper-pagination) {
            margin-bottom: 264px;

        }

        :global(.swiper-pagination-bullet) {
            background: #82889A;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            opacity: 1;
        }

        :global(.swiper-pagination-bullet-active) {
            background: linear-gradient(138deg, #68B551 10.19%, #3AB177 92.37%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transition: 0.5s;
        }

        max-width: 100%;
        padding: 62px 0 0 0;
        
        .Swiper {
            width: 100%;
            .underTag{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 26px;
                .UndeRug{
                    min-width: 500px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .SwiperSlide {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                p {
                    display: none;
                    
                }

                div {
                    margin-top: 43px;
                    display: none;
                }
                .StockImage {
                    transition: 0.5s;
                }
                .GreyColoredImage {
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    transform: scale(70%);
                    transition: 1s; 
                }
            }

            .swiper-pagination {
                background-color: blue;
            }
        }

        // button {
        //     margin-top: 40px;
        //     width: 257px;
        //     margin: 0 auto
        // }
    }
}




@media screen and (max-width: 920px) {
    .Motopark {
        margin-top: 85px;
    }

    .Content {
        :global(.swiper-pagination) {
            margin-bottom: 264px;

        }

        :global(.swiper-pagination-bullet) {
            background: #82889A;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            opacity: 1;
        }

        :global(.swiper-pagination-bullet-active) {
            background: linear-gradient(138deg, #68B551 10.19%, #3AB177 92.37%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transition: 1s;
        }

        max-width: 100%;
        padding: 62px 0 0 0;

        .Swiper {
            .SwiperSlide {
                p {
                    margin-top: 15px;
                }

                div {
                    display: block;
                }

            }

            .swiper-pagination {
                background-color: blue;
            }
        }

        button {
            margin-top: 40px;
            width: 100%;
        }
    }
}