@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.BurgerBlock {
  position: fixed;
  z-index: 999;
  margin-left: 78vw;
}

.MenuToggle {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.MenuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.MenuToggle a:hover {
  color: #3AB177;
}
.MenuToggle a:hover~ul{
  display: none;
}


.MenuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

.MenuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 1px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.MenuToggle span:first-child {
  transform-origin: 0% 0%;
}

.MenuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.MenuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.MenuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.MenuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

// .MenuToggle input:checked~.Menu{
//   background-color: #3AB177;
// }
.Menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 108vw;
  height: 105vh;
  margin: -85px 0 0 -92%;
  padding: 42px 50px 0 50px;
  background: #23262B;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
 
  a {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22.9283px;
    line-height: 27px;
    color: #82889A;
    gap: 14px;
    margin: 0 0 32px 0;
    list-style: none;
  }


  ul {
    width: 80%;
  }

  .WhatsApp {
    width: 100%;
    height: 56px;
    padding: 0 0 0 10%;
    background: linear-gradient(318.07deg, #68B551 10.19%, #3AB177 92.37%);
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22.9283px;
    line-height: 27px;
    color: #FFFFFF;
    
  }
  .WhatsApp:hover{
    transform: scale(102%);
    color: #FFFFFF;
  }

  div {
    background-image: url('./assets/Street.svg');
    width: 105%;
    height: 2px;
    background-size: cover;
    margin-bottom: 32px;
  }
}


.UnderLogo{
  margin-top: 47px !important;
}

.SecondLevelUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


// .MenuToggle input:checked~ul {
//   transform: none;
// }




@media screen and (max-width: 920px) {
  .MenuToggle {
    display: block;
  }
}

.BurgerLogo{
  z-index: 11 !important;
}