@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.MenuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.MenuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.MenuToggle a:hover {
  color: #3AB177;
}


.MenuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

.MenuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.MenuToggle span:first-child {
  transform-origin: 0% 0%;
}

.MenuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.MenuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.MenuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.MenuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.Menu {
  position: fixed;
  width: 108vw;
  height: 100vh;
  margin: 10px 0 0 -86%;
  padding: 53px 50px 0 50px;
  background: #23262B;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  a{
    
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22.9283px;
    line-height: 27px;
    color: #82889A;
    gap: 14px;
    margin: 0 0 32px 0;
  }
  div{
    background-image: url('./headerIcons/Полоса.png');
    width: 100%;
    height: 2px;  
    background-size: cover;

  }
}



.MenuToggle input:checked~ul {
  transform: none;
}

.MenuToggle {
  display: none;
}

@media screen and (max-width: 920px) {
  .MenuToggle {
    display: block;
  }
}