.Write {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-content: center;
  max-width: 969px;
  max-height: 578px;
  gap: 130px;
  // background: linear-gradient(318.07deg, #68b551 10.19%, #3ab177 92.37%);
  border-radius: 20px;
  max-height: 578px;
  align-items: center;
  // margin-top: 150px;
  //  margin-left: 20%;//  Удолить параметр он нужет для отцентровке нижу при уменьшенном экране такой же параметр

  padding: 40px;

  .TextUnderButton {
    padding-top: 10px;
    width: 353px;
    height: 55px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 139.69%;
    /* or 17px */

    text-align: justify;

    color: #ffffff;

    opacity: 0.75;
  }
  .TextUnderButton > a {
    text-decoration: underline;
  }

  .BlockInput {
    padding-bottom: 40px;
  }

  .inputValue {
    border: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(#68b551, #3ab177);
    border-image-slice: 1;

    line-height: 30px;
    background: none;
    width: 100%;

    outline: none;
    resize: none;
    resize: vertical;
    resize: horizontal;

    outline-offset: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color-scheme: dark;

    padding-bottom: 10px;
    padding-top: 30px;

    opacity: 0.75;
  }

  .inputValue::placeholder {
    color: #ffffff;

    opacity: 0.7;
    position: absolute;
    width: 187px;
    height: 19px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .ImgBlock {
    // position: absolute;
  }

  .TxtBlock {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;

    
  }
  .SgeinKotokbasTitle > p {
    /* Телефон: */

    // position: absolute;
    width: 88px;
    height: 30px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;

    opacity: 0.7;
  }

  .SgeinKotokbas > p{
    // position: absolute;
    width: 275px;
    height: 35px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;

    opacity: 0.7;
  }

  .Contacts{
    display: flex;
    justify-content: space-between;
    gap: 18px;
    flex-wrap: nowrap;
}
}

@media screen and (max-width: 920px) {
  .Write {
    flex-direction: column;
    margin-top: 50%;
    // margin-left: 0;//  Удолить параметр он нужен для обнуление верхнего параметра что бы мобильная версия не есздила
    gap: 20px;
    background: none;
    padding: 0;

    .TxtBlock {
      // background: linear-gradient(318.07deg, #68b551 10.19%, #3ab177 92.37%);
      padding: 40px;
      width: 100vw;
      button {
        width: 100%;
      }
    }
  }
}
