.HomeBlock{
    display: flex;
    flex-direction: row-reverse;
    
    .ImgBlock{
     
    }
    .TxtBlock{
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .SgeinKotokbas{
            max-width: 400px;
            margin: 16px 0 40px 0;
        }

    }
}

@media  screen and (max-width: 920px) {
    .HomeBlock{
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        .TxtBlock{
            button{
                width: 100%;
            }
        }
    }
}