.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerVisible{
    padding-left: 10%;
    display: none;
}

@media  screen and (max-width: 920px){
    .headerVisible{
        display: block;
    }
} 