.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Order > header{
    display: none;
}

@media  screen and (max-width: 920px){
    .Order > header{
        display: block;
    }
} 