.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Articles::before{
    content: "";
    position: fixed;
    left: 0;
    width: 35vw;
    height: 100%;
    box-shadow: 100px 0px 48px -38px rgba(0, 0, 0, 0.5) inset;
    z-index: 9;
}
.Articles::after{
    content: "";
    position: fixed;
    right: 0;
    width: 35vw;
    height: 100%;
    box-shadow: -100px 0px 48px -38px rgba(0, 0, 0, 0.5) inset;
    z-index: 9;
}

.headerVisible{
    padding-left: 10%;
    display: none;
}

@media  screen and (max-width: 920px){
    .Articles::before{
        content: "";
        position: fixed;
        left: 0;
        width: 0 !important;
        box-shadow: 100px 0px 48px -38px rgba(0, 0, 0, 0.5) inset;
        z-index: 9;
    }
    .Articles footer{
            margin-top: 30% !important;
        }
    
    .Articles::after{
        content: "";
        position: fixed;
        right: 0;
        width: 0 !important;
        box-shadow: -100px 0px 48px -38px rgba(0, 0, 0, 0.5) inset;
        z-index: 9;
    }
    .headerVisible{
        display: block;
    }
} 