@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.SubText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.SubTextBlack{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: rgba(35, 38, 43, 1);
}