.SubText{
    position: absolute;
    width: 333px;
    height: 125px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}