.Service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 116px;
    div{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 40px;
    }
}