@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue"),
        url("../../font/bebasneue/BebasNeueBold.ttf") format("truetype");
    font-weight: bold;
}

.Service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 83px;
    padding-top: 33px;

    .Courses {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 40px;

        .BGRAD {
            padding: 1.5px;
            background: linear-gradient(to bottom right, #ffffff 13%, #68B551 66%);
            border-radius: 20px;
            .Balc {
                background: linear-gradient(343deg, #68B551 10.19%, #3AB177 92.37%);
                color: #23262B;
                border-radius: 20px;
                max-height: 200px;
                padding: 9px 37px 9px 37px;
                display: flex;
                gap: 75px;

                z-index: 100;
                transition: 0.1s;

                .TextBlock {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    h3 {
                        font-size: 40px;
                        font-weight: 800;
                    }

                    p {
                        font-size: 25px;
                        line-height: 29px;
                        font-weight: 400;
                        text-align: start;
                        text-transform: none;
                    }

                    span {
                        font-family: 'Bebas Neue', cursive;
                        color: #ffffff;
                        font-size: 64px;
                        display: none;
                    }
                }


            }
        }


    }
}

@media screen and (max-width: 1180px) {
    .Courses {
        .Balc {
            .TextBlock {
                h3 {
                    font-size: 3vw !important;
                }

                p {
                    font-size: 1.6vw !important;
                }
            }
        }
    }
}








@media screen and (max-width: 920px) {
    .Courses {
        width: 100%;

        .BGRAD {
            border-radius: 17px !important;
            .Balc {
                height: 164px;
                width: 100%;
                overflow: hidden;
                padding: 0 !important;
                border-radius: 17px !important;

                img {
                    // height: 140px;
                    height: 95%;
                    position: absolute;
                    margin-right: 72%;
                    z-index: 999;
                }

                .TextBlock {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-end !important;
                    position: absolute;
                    width: 100%;

                    div {
                        width: 70%;
                        display: flex;
                        justify-content: center;

                        h3 {
                            display: flex;
                            justify-content: center;
                            font-family: 'Bebas Neue';
                            font-weight: 700;
                            font-size: 23px !important;
                            line-height: 1px;
                            padding: 22px 0px 15px 10%;
                            color: #FFFFFF;
                            background-color: #23262B;
                            text-align: center;
                            width: 100%;
                            margin-top: 37px;

                        }
                    }

                    span {
                        display: block !important;
                        margin-top: 3px;
                        margin-right: 24px;
                    }



                    p {
                        display: none;
                    }
                }
            }
        }

    }
}